@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'reactor7';
  src: local('reactor7'), url(./fonts/reactor7/Reactor7.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'reactor7', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment:fixed;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(-40deg, rgb(4, 4, 5) 35%, rgb(19, 22, 31) 65% 95%);
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: larger;
}

h1{
  font-weight: bold;
  font-size: larger;
}

h2{
  font-weight: bold;
  font-size: larger;
  color: #80ded0
}

ul{
  list-style-type: none;
}

li{
  display: flex;
  justify-content: space-between;
}

#root{
  height: 100vh;
}

.card{
  background-attachment:fixed;
  background-repeat: no-repeat;
  min-height: 2rem;
  min-width: auto;
  background-image: linear-gradient(-40deg, rgb(26, 28, 39) 35%, rgb(27, 32, 49) 65% 95%);
  box-shadow: 10px 10px 20px #000000;
}

.menu {
  padding: .75rem;
}

.menuItem:last-of-type{
  margin-top: 5rem
}
